<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
      <div class="blog-masthead">
          <div class="container">
              <nav class="blog-nav">
                  <!--<a href="/" title="Home">{{ site.title }}</a>-->
                  {% for page in site.pages_list %}
                  {% if forloop.first %}
                      <a class="blog-nav-item" href="{{ page[1]  }}">{{ page[0] }} </a>
                      &nbsp;&nbsp;&nbsp;
                  {% else %}
                      <a class="blog-nav-item" href="{{ page[1]  }}">{{ page[0] }} </a>
                      &nbsp;&nbsp;&nbsp;
                  {% endif %}
                  {% endfor %}
              </nav>
          </div>
      </div>

      <div class="container">
          <div class="blog-header">
              <!--<p class="lead blog-description"></p>-->
          </div>
          <div class="row">
              {{ content }}
              {% include sidebar.html %}
          </div>
      </div>

      {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.baseurl }}public/js/bootstrap.min.js"></script>
    <!--[> IE10 viewport hack for Surface/desktop Windows 8 bug <]-->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
